<div class="card">
  <div class="card-block">
    <h4 class="card-title">Descripcion del item {{agarre.id}}</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre: {{agarre.nombre}}</li>
      <li class="list-group-item">Veces: {{agarre.veces}}</li>
      <li class="list-group-item">Dinero Gastado: {{agarre.dineroGastado}}</li>
      <li class="list-group-item">Actualizado en: {{agarre.updatedAt}}</li>
  </ul>
  </div>
  <div class="card-footer">
    <small class="text-muted">Creado el {{agarre.createdAt}}</small>
  </div>
</div>
<div>

</div>

