<!--<h1>
  {{title}}
  {{noroot}}
</h1>-->
<!--<h2>Esto no esta en un selector</h2>
<p>este es un peque parrafito <b>ESTO ESTA EN NEGRITAS</b></p>
<h3>Habia una vez un usuario llamado {{saludar(usuario.nombre, usuario.apellido)}}</h3>

<p>El Property binding es aquello que mantiene unidas la propiedad de un componente y su interfaz es decir las variables del componente con el html</p>
<p>1. con llaves</p>
<p id="bind">{{parrafo}}</p>
<p>2. con corchetes</p>
<p [style.color]="'green'" [style.background-color]="background" [innerText]="parrafo"></p>

<input type="text" [value]="parrafo"/>

<app-estilo></app-estilo>
<app-estilo></app-estilo>
<app-estilo></app-estilo>

<a [href]="url">
  <img [src]="url2">
</a>-->

<h1>Holis</h1>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pagina2','idAlguito']">Pagina2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['inicio']">Indice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


