<div class="container">
  <h1 class="display-2">Bienvenidos</h1>
  <h2>Usuarios Conectados</h2>
  <div class="row">
  <div  *ngFor="let usuario of arregloUsr">
    <div class="col-sm-4" *ngIf="usuario.conectado">
    <div class="card" style="width: 20rem">
      <div class="card-block">
        <h4 class="card-title">{{usuario.nombre}}-{{usuario.conectado}}</h4>
        <p class="card-text">{{usuario.nombre}} {{usuario.apellido}}</p>
        <a href="#" class="btn btn-primary btn-block">Revisar Perfil</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <pre>{{nuevoUsuario | json}}</pre>
        <label class="col-form-label">Nombre Usuario</label>
        <input type="text" class="form-control" placeholder="nombre de usuario" [(ngModel)]="nuevoUsuario.nombre">
        <button class="btn btn-info" (click)="crearUsuario()">CREAR</button>
        <button class="btn btn-info" (click)="actualizarUsuario()">ACTUALIZAR LISTA</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="display-2">Bienvenidos</h1>
  <h2>Usuarios Conectados</h2>
  <div class="row">
    <div  *ngFor="let usuario of usuarios; let i= index">
      <div class="col-sm-4">
        <div class="card" style="width: 20rem">
          <div class="card-block">
            <p class="card-text">{{usuario.nombre}} {{usuario.id}}</p>
            <a href="#" class="btn btn-primary btn-block" (click)="eliminarUsuario(usuario.id)">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div style="align-content: center" class="col-md-6">
    <h2>Peliculas</h2>
    <br>
    <button (click)="cargarBatman()" class="btn-group-lg">Peliculas de Batman</button>
  </div>
</div>
<div class="row">
  <ul>
    <li *ngFor="let pelis of peliculas" >{{pelis.original_title}}</li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let pelis of peliculas; let i= index">
      <app-pelicula-batman [pelicula]="pelis" ></app-pelicula-batman>
    </div>
  </div>
</div>
<!--<div class="container">
  <div class="row">
  <div *ngFor="let pelis of peliculas">
  <div class="col-sm-4">
    <div class="card card-inverse text-center">

      &lt;!&ndash; Image &ndash;&gt;
      <img class="card-img-top" style="max-height: 70%; max-width: 90%" [src]="'https://image.tmdb.org/t/p/w1280/'+pelis.poster_path" alt="Photo of sunset">

      &lt;!&ndash; Text Overlay &ndash;&gt;
      <div class="card-block">
        <table class="table table-inverse table-bordered">
          <tbody>
          <tr>
            <td>Release date:</td>
            <td>{{pelis.release_date}}</td>
          </tr>
          <tr>
            <td>Original title:</td>
            <td>{{pelis.original_title}}</td>
          </tr>
          <tr>
            <td>Original Language:</td>
            <td>{{pelis.original_language}}</td>
          </tr>
          <tr>
            <td>Popularity:</td>
            <td>{{pelis.popularity}}</td>
          </tr>
          <tr>
            <td>Vote count:</td>
            <td>{{pelis.vote_count}}</td>
          </tr>
          <tr>
            <td>Overview:</td>
            <td>
              <p>{{pelis.overview}}</p>
            </td>
          </tr>
          <tr>
            <td>Generos:</td>
            <td>
              <ul>
                <li *ngFor="let generos of pelis.genre_ids">{{generos}}</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>


  </div>
</div>
</div>
</div>-->
<!--<div>
  <ul>
    <li *ngFor="let usuario of arregloUsr">{{usuario.nombre}}</li>
  </ul>

</div>
<div>
  <p *ngIf="undefined">Este es verdadero 1</p>
  <p *ngIf="null">Este es falso 1</p>
</div>

<div>
  <p *ngIf="(2+2)==4">Este es verdadero 2</p>
  <p *ngIf="(2+2)!=4">Este es falso 2</p>
</div>

<div>
  <p *ngIf="0">Este es verdadero 3</p>
  <p *ngIf="nombre">Este es falso 3</p>
</div>-->

<!--<div class="container">
  <input type="text" class="align-self-sm-auto" [value]="nombre" #nombreEtiqueta>
  {{nombre}}
  <br>
  <button class="btn-danger" (blur)="otroNombre()">Blurcito</button>
  <button class="btn-lg" (click)="cambiarNombre()" >Cambiar valor</button>
  <h1 (click)="otroNombre()" >Este solo es un header</h1>
  <button (click)="cambiarInput(nombreEtiqueta)" class="btn-secondary">CAMBIAME</button>
  <input type="text" placeholder="ESCRIBE ALGO MALDITO" class="form-control" [(ngModel)]="nombre">
  <div class="container-fluid"><img style="height: 100%; width: 100%" [src]="nombre" alt=""></div>

</div>-->

<!--
<h1>Titulo</h1>
<p>Un parrafito lalalallalala</p>

<div class="row">
  <div style="background-color: rebeccapurple" class="col-sm-6">una filita</div>
  <div style="background-color: rebeccapurple" class="col-sm-6">una filita</div>
  <div style="background-color: #3c763d"
    class="col-lg-7">otra </div>
  <div style="background-color: #3c763d"
       class="col-lg-5">otra </div>
  <div style="background-color: #31b0d5"
    class="col-md-10">otra </div>
  <div style="background-color: #31b0d5"
       class="col-md-2">otra </div>
  <div style="background-color: deeppink"
    class="col-xl-9">otra filita</div>
  <div style="background-color: deeppink"
       class="col-xl-3">otra filita</div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-2">Un menusito</div>
      <div class="col-sm-2">Un menusito</div>
      <div class="col-sm-2">Un menusito</div>
      <div class="col-sm-2">Un menusito</div>
      <div class="col-sm-2">un menusito</div>
      <div class="col-sm-2">un menusito</div>
    </div>
  </div>
  <div class="col-md-6"></div>
</div>

<div style="height: 500px; background-color: rebeccapurple; align-content: center" class="container">
  <p style="border-top: 30%; border-left: 40%; border-right: 40%; align-content: center; color: #ffffff; padding: 8%" class="lead">Bootstrap is the most popular HTML, CSS, and JS framework in the world for building responsive, mobile-first projects on the web.</p>
  <button style="align-self: center" class="btn">Un botoncito</button>
</div>

<div class="row">
  <div style="height: 100px" class="container"></div>
</div>
<div class="row">
  <div class="col-xl-12"><h2 style="text-align: center">Un titulito</h2></div>
</div>
<div class="row">
  <div style="text-align: center" class="col-xl-12"><p class="lead">Este es un parrafito de la paginita lallalalalalal lead</p></div>
</div>
<div class="row">
  <div style="text-align: center" class="col-md-6"><p>
    Este es un parrafito lalalallalalallalalallala
  </p></div>
  <div style="text-align: center" class="col-md-6"><p>
    Este es otro parrafito miaw miaw
  </p></div>
</div>
-->
