<h1>Titulo</h1>
<p>Un parrafito lalalallalala</p>

<div class="row">
  <div style="background-color: rebeccapurple" class="col-sm-6">una filita</div>
  <div style="background-color: rebeccapurple" class="col-sm-6">una filita</div>
  <div style="background-color: #3c763d"
    class="col-lg-7">otra </div>
  <div style="background-color: #3c763d"
       class="col-lg-5">otra </div>
  <div style="background-color: #31b0d5"
    class="col-md-10">otra </div>
  <div style="background-color: #31b0d5"
       class="col-md-2">otra </div>
  <div style="background-color: deeppink"
    class="col-xl-9">otra filita</div>
  <div style="background-color: deeppink"
       class="col-xl-3">otra filita</div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-2">Un menusito</div>
      <div class="col-sm-2">Un menusito</div>
      <div class="col-sm-2">Un menusito</div>
      <div class="col-sm-2">Un menusito</div>
      <div class="col-sm-2">un menusito</div>
      <div class="col-sm-2">un menusito</div>
    </div>
  </div>
  <div class="col-md-6"></div>
</div>

<div style="height: 500px; background-color: rebeccapurple; align-content: center" class="container">
  <p style="border-top: 30%; border-left: 40%; border-right: 40%; align-content: center; color: #ffffff" class="lead">Bootstrap is the most popular HTML, CSS, and JS framework in the world for building responsive, mobile-first projects on the web.</p>
</div>

<div class="row">
  <div style="height: 100px" class="container"></div>
</div>
<div class="row">
  <div class="col-xl-12"><h2 style="text-align: center">Un titulito</h2></div>
</div>
<div class="row">
  <div style="text-align: center" class="col-xl-12"><p class="lead">Este es un parrafito de la paginita lallalalalalal lead</p></div>
</div>

